.Modal {
  position: fixed;
  z-index: 200;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  background-color: white;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  top: 30%;
  left: 25%;
  width: 50%;

  /* whenever any property changes, animathe that change this way: */
  transition: all 300ms ease-out;
}

.ModalOpen {
  /* animation happens when the classes is added to the element */
  /* "forwards" means: do not repeat the animation; remain at the last step */
  animation: openModal 300ms ease-out forwards;
}
.ModalClosed {
  animation: closeModal 300ms ease-out forwards;
}
.ModalAbsent {
  display: none;
}

/* @keyframes describes the animation */
/* each object is a state */
/* each state describes how the object should look like at that point in time */
@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(20%); /* go 20% over the final position */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* bounce back to the final position */
  }
}

@keyframes closeModal {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.8;
    transform: translateY(60%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}